# Groq API
GROQ_API_KEY="gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Email
SMTP_SERVER="smtp.gmail.com"
SENDER_MAIL="email_wysylajacy@gmail.com"
SENDER_PASS="haslo_do_emaila_wysylajacego"
RECIPIENTS="email1@gmail.com,email2@gmail.com"
