# Groq API
GROQ_API_KEY="gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Google Sheets
GOOGLE_SHEET_ID="1o0htAcR-8ej4u9GiRCYHxxvFKE7BhCaryB6nqkM-KTI"
GOOGLE_SHEET_WORKSHEET="Arkusz1"
GSPREAD_SERVICE_ACCOUNT_FILE="service_account.json"

# Email
SMTP_SERVER="smtp.gmail.com"
SENDER_MAIL="email_wysylajacy@gmail.com"
SENDER_PASS="haslo_do_emaila_wysylajacego"
RECIPIENTS="email1@gmail.com,email2@gmail.com"
